---
title: Aletheia
stylesheet: landing
layout: null
id: Home
---

<!DOCTYPE html>
<html>

    {% include head.html %}

<body>

    {% include header.html %}

    <main>
        <div id="mid-section-container">
    
            <div id="logo-container">
                <img src="images/Aletheia_Logo_200.png"> 
            </div>
    
            <div id="title">
                    A Decentralised, Open Access, <br/>Publishing Platform for Scientific Research
            </div>
    
        </div>
    </main>

    {% include footer.html %}

</body>
</html>
