<footer>
    <div id="footer-container">
        <a href="https://www.facebook.com/aletheiaf/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://twitter.com/aletheia_f"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://aletheiafoundation.slack.com"><i class="fa fa-slack" aria-hidden="true"></i></a>
        <a href="https://github.com/aletheia-foundation"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:contact@aletheia-foundation.io"><i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
</footer>