<footer>
    <div id="footer-container">
        <a href="https://www.facebook.com/aletheiaf/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a href="https://twitter.com/aletheia_f"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="https://aletheiafoundation.slack.com"><i class="fab fa-slack" aria-hidden="true"></i></a>
        <a href="https://github.com/aletheia-foundation"><i class="fab fa-github" aria-hidden="true"></i></a>
        <a href="mailto:contact@aletheia-foundation.io"><i class="far fa-envelope" aria-hidden="true"></i></a>
        <a href="https://www.patreon.com/Aletheia_f"><i class="fab fa-patreon" aria-hidden="true"></i></a>
        <a href="https://flattr.com/@Aletheia"><i class="fas fa-credit-card" aria-hidden="true"></i></a>
    </div>
</footer>
