<header>

    <div id="header-large-screen">
        <a href="/">Home</a>
        <a href="https://github.com/aletheia-foundation/aletheia-app">Download</a>
        <a href="/about">About</a>
        <a href="#">Blog</a>
        <a href="https://github.com/aletheia-foundation/aletheia-admin">Get Involved</a>
    </div>

    <div id="header-small-screen">
        <div id="header-menu-container">
            <button id="smallscreen-header-button">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div id="header-small-screen-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://github.com/aletheia-foundation/aletheia-app">Download</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="https://github.com/aletheia-foundation/aletheia-admin">Get Involved</a></li>
                </ul>
            </div>
        </div>
    </div>
 
</header>

 <script>

    function InitialiseHeader_ForSmallScreens() {

        let dropdown = document.getElementById("header-small-screen-menu");

        let button = document.getElementById("smallscreen-header-button");
        let dropdownIsOpen = false;
        var openClass = "header-menu-open";
        button.onclick = () => {
            if(dropdownIsOpen) {
                dropdown.classList.remove(openClass);
                dropdownIsOpen = false;
            } else {
                dropdown.classList.add(openClass);
                dropdownIsOpen = true;                
            }
        };

    }

    InitialiseHeader_ForSmallScreens();

 </script>