<head>
    <meta charset="utf-8">            
    <title>Aletheia Foundation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="Description" content="Aletheia is a decentralised open access scientific journal. Think of it as a peer to peer (P2P) publishing platform and database all rolled into one. You can submit original scientific research or existing non copyrighted research to help build up our library, and you can access our library to download articles, all free of charge! Currently, a large portion of humanity’s collective scientific knowledge sits behind paywalls, only accessible to those with financial means. What’s worse, with a large amount of research being paid for through government grants, taxpayer funds, people have already paid for this research! Why should we have to pay twice? Scientific knowledge should belongs to us all, and Aletheia gives everyone access to information that they deserve as a basic human right.">
		<meta name="Keywords" content="Aletheia,Aletheia Foundation">
		<meta property="og:title" content="A Decentralised, Open Access, Publishing Platform for Scientific Research">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://aletheia-foundation.io">
		<meta property="og:image" content="https://aletheia-foundation.io/images/Aletheia_Logo_200.png">

    <link rel="icon" href="/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
            {% if page.stylesheet  %}
    <link rel="stylesheet" href="/css/{{ page.stylesheet }}.css" type="text/css">
    {% elsif layout.stylesheet  %}
    <link rel="stylesheet" href="/css/{{ layout.stylesheet }}.css" type="text/css">
    {% endif %}
    <meta name="flattr:id" content="vl7kln">
</head>
