<head>
    <meta charset="utf-8">            
    <title>Aletheia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
            {% if page.stylesheet  %}
    <link rel="stylesheet" href="/css/{{ page.stylesheet }}.css" type="text/css">
    {% elsif layout.stylesheet  %}
    <link rel="stylesheet" href="/css/{{ layout.stylesheet }}.css" type="text/css">
    {% endif %}
    <meta name="flattr:id" content="vl7kln">
</head>
