<head>
    <meta charset="utf-8">            
    <title>Aletheia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% if page.stylesheet  %}
    <link rel="stylesheet" href="/css/{{ page.stylesheet }}.css" type="text/css">
    {% endif %}
    {% if layout.stylesheet  %}
    <link rel="stylesheet" href="/css/{{ layout.stylesheet }}.css" type="text/css">
    {% endif %}
</head>